name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        version:
          - "4.4"
          - "4.4.1"
          - "4.5"
          - "4.5.1"
          - "4.6"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: liphium/godot-mono:${{ matrix.version }}
          build-args: |
            GODOT_VERSION=${{ matrix.version }}
          cache-from: type=registry,ref=liphium/godot-mono:${{ matrix.version }}
          cache-to: type=inline
